<div class="container">
<div class="row center">
<div class="col-sm-12 col-md-12">	
<h2>Nova Mensagem</h2>
<hr>

<%= render 'form' %>

<div class="text-center">
<hr>
<%= link_to 'Voltar', order_path(@message.component.block.order), class: "btn btn-default" %>
</div>

</div>
</div>
</div>
