<div class="container">
  <div class="row centered">
  <div class="col-sm-12 col-md-12">
    <h2>Usuários</h2>
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>


<div class="text-center">
    <%= link_to "Novo Usuário", new_user_path, class:"btn btn-lg btn-block btn-success" %>
    <hr>
    </div>
  </div>
</div>
    </div>
