<div class="nested-fields">
  <div class="panel panel-success">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6 field">
          <%= f.input :title, placeholder: "Título", label: false %>
        </div>
        <div class="col-lg-6 field">
          <%= f.input :subtitle, placeholder: "Subtítulo", label: false  %>
        </div>
      </div>
      <div class="field">
        <%= f.input :description, placeholder: "Descrição do item", label: false  %>
      </div>
    </div>
    <div class="panel-footer">
      <div class="text-right">
        <%= link_to_remove_association "Excluir Ítem", f, { class: 'btn btn-xs btn-danger' } %>
      </div>
    </div>
  </div>
</div>
