<div class="container">
<div class="row center">
<div class="col-sm-12 col-md-12">
	<h2>Novo Orçamento</h2>
	<hr>


<%= render 'form' %>

<div class="text-center">
<hr>

<%= link_to 'Voltar', orders_path, class: "btn btn-default" %>

</div>

</div>
</div>
</div>
